@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-preto-claro: #151515;
    --cor-preto-escuro: #111111;
    --cor-zul-escuro: #214664;
    --cor-branco: #FFFFFF;

    --fonte-principal: "Poppins", sans-serif;
    --tamanho-fonte-h2: 1.6rem;
    --tamanho0fonte-h3: 1.3rem;
    --tamanho0fonte-h4: 1rem;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-preto-escuro);
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

/* Menu header */

.container-menu-header {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70%;
    background-color: var(--cor-preto-escuro);
    padding: 0.9rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    z-index: 1000;
    box-shadow: 
        0px 6px 6px -4px #214664,
        6px 0px 6px -4px #214664,
        0px -6px 6px -4px #214664,
        -6px 0px 6px -4px #214664,
        0px 0px 6px 0px #214664;
    transition: .4s;
    opacity: 0.5;
    z-index: 1000;
}

.container-menu-header .menu-header-icon {
    font-size: 1.7rem;
    transition: .4s;
    color: var(--cor-zul-escuro);
    cursor: pointer;
    transform: rotate(90deg);
}

.container-menu-header .menu-icon-diminuir {
    font-size: 1.7rem;
    transition: .4s;
    color: var(--cor-zul-escuro);
    cursor: pointer;
    transform: rotate(270deg);
    position: absolute;
    bottom: 14px;
    left: 16px;
    display: none;
}

.container-menu-header .menu-header-icon:hover,
.container-menu-header .menu-icon-diminuir:hover {
    opacity: 0.5;
}

.container-menu-header .menu-header-item {
    display: flex;
}

.menu-header-item .menu-header-item-link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-zul-escuro);
    padding: 0.5rem 0.7rem;
    border-radius: 0.7rem;
    font-size: 1.7rem;
    gap: 0.5rem;
    transition: .4s;

}

.menu-header-item .menu-header-item-link:hover {
    transform: translateY(-3px);
    background-color: var(--cor-zul-escuro);
    color: var(--cor-branco);
}

.menu-header-item-link::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--cor-zul-escuro);
    transition: width .4s ease-in, right .4s ease-in;
}

.menu-header-item-link:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

.menu-header-item .menu-header-item-link i {
    width: 2rem;
    text-align: center;
}

.menu-header-item-link .menu-header-item-link-texto {
    display: none;
    font-size: 1.3rem;
}

/* Conteudo principal */

.container-conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6rem 0 2rem 0;
    padding: 0 0.9rem;
}

.conteudo-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-conteudo-inicio-titulo {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.conteudo-inicio-subtitulo {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--cor-zul-escuro);
    font-weight: 600;
    text-align: left;
    padding-left: 0.5rem;
}

.conteudo-inicio-titulo {
    font-size: 2.5rem;
    color: var(--cor-branco);
    font-weight: 600;
    text-align: center;
}

.conteudo-inicio-img-e-redes_sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    gap: 2rem;
}

.conteudo-inicio-redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.conteudo-inicio-redes_sociais .redes_sociais-link {
    color: var(--cor-branco);
    transition: .4s;
}

.conteudo-inicio-redes_sociais .redes_sociais-link:hover {
    color: var(--cor-zul-escuro);
}

.redes_sociais-link i {
    font-size: 2rem;
}

.conteudo-inicio-img img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 1px solid var(--cor-zul-escuro);
}

.conteudo-inicio-apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.conteudo-inicio-apresentacao .conteudo-inicio-apresentacao-titulo {
    color: var(--cor-zul-escuro);
    font-size: var(--tamanho-fonte-h2);
    font-weight: 600;
    text-transform: uppercase;
}

.conteudo-inicio-apresentacao .conteudo-inicio-apresentacao-texto {
    text-align: justify;
    margin: 1rem 0;
}

.conteudo-inicio-apresentacao .conteudo-inicio-apresentacao-cvv {
    margin-top: 0.5rem;
    padding: 0.5rem 4rem;
    color: var(--cor-branco);
    border-radius: 0.7rem;
    border: 2px solid var(--cor-zul-escuro);
    text-decoration: none;
    box-shadow: 
        0px 6px 6px -4px #214664,
        6px 0px 6px -4px #214664,
        0px -6px 6px -4px #214664,
        -6px 0px 6px -4px #214664,
        0px 0px 6px 0px #214664;
    transition: .4s;
}

.conteudo-inicio-apresentacao-cvv:hover {
    background: var(--cor-zul-escuro);
    transform: scale(1.1);
}

/* Conteudo Sobre */

.conteudo-sobre {
    margin-top: 2rem;
}

.conteudo-sobre .conteudo-sobre-titulo {
    font-size: var(--tamanho-fonte-h2);
    font-weight: 600;
}

.conteudo-sobre-educacao-experiencia {
    margin-top: 1rem;
}

.conteudo-sobre-educacao-titulo,
.conteudo-sobre-experiencia-titulo {
    font-size: var(--tamanho0fonte-h3);
    color: var(--cor-zul-escuro);
    margin-bottom: 1rem;
    font-weight: 600;
}

.conteudo-sobre-educacao-titulo i,
.conteudo-sobre-experiencia-titulo i {
    width: 1.7rem;
}

.container-card-educacao,
.container-card-experiencia {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1.5rem;
    position: relative;
}

.container-card-educacao::-webkit-scrollbar {
    background-color: transparent;
    height: 2px;
}

.container-card-educacao::-webkit-scrollbar-thumb {
    background-color: var(--cor-zul-escuro);
}

.container-card-experiencia::-webkit-scrollbar {
    background-color: transparent;
}

.container-card-experiencia::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.card-educacao {
    padding-bottom: 1rem;
    position: relative;
}

.card-experiencia {
    padding-bottom: 1.5rem;
    position: relative;
}

.container-card-experiencia .card-experiencia::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-zul-escuro);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 10;
}

.card-experiencia::before {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    height: 2px;
    width: 270px; 
    background-color: var(--cor-zul-escuro);
    box-sizing: border-box;
    z-index: -1;
}

.card-educacao-titulo,
.card-experiencia-titulo {
    font-size: var(--tamanho0fonte-h4);
    font-weight: 600;
}

.card-educacao-descricao,
.card-experiencia-descricao {
    font-size: 0.9rem;
    margin: 0.2rem 0;
    padding-left: 0.3rem;
}

.card-educacao-data,
.card-experiencia-data {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    padding-left: 0.3rem;
    opacity: 0.6;
}

.conteudo-sobre-experiencia {
    margin-top: 1rem;
}