@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-preto-claro: #1b1b1b;
    --cor-preto-escuro: #111111;
    --cor-zul-claro: #01E2FC;
    --cor-branco: #fffffff1;

    --fonte-principal: "Poppins", sans-serif;
    --tamanho-fonte-h2: 1.6rem;
    --tamanho-fonte-h3: 1.2rem;
    --tamanho-fonte-h4: 1rem;
}

* {
    padding: 0;
    margin: 0;
    --scrollbarBG: var(--cor-preto-claro);
    --thumbBG: #01e3fc88;
    scrollbar-width: thin; 
    scrollbar-color: #01e3fc88 var(--cor-preto-claro);
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    scrollbar-width: thin;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-preto-escuro);
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

body::-webkit-scrollbar-track {
    background: var(--cor-preto-claro);
}

body::-webkit-scrollbar-thumb {
    background-color: #01e3fc88;
    border-radius: 10px;
    border: 2px solid var(--cor-preto-claro);
}

body::-webkit-scrollbar-thumb {
    background-color: #01e3fc88;
    border-radius: 10px;
    border: 2px solid var(--cor-preto-claro);
}

::-webkit-scrollbar {
    background-color: var(--cor-preto-claro);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #01e3fc88;
}

/* Menu header */

.container-menu-header {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90%;
    background-color: var(--cor-preto-escuro);
    padding: 0.5rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: var(--cor-zul-claro);
    transition: .4s;
    z-index: 1000;
}

.container-menu-header .menu-header-icon {
    font-size: 1.7rem;
    transition: .4s;
    color: var(--cor-zul-claro);
    cursor: pointer;
    transform: rotate(90deg);
}

.container-menu-header .menu-icon-diminuir {
    font-size: 1.7rem;
    transition: .4s;
    color: var(--cor-zul-claro);
    cursor: pointer;
    transform: rotate(270deg);
    position: absolute;
    bottom: 14px;
    left: 16px;
    display: none;
}

.container-menu-header .menu-header-icon:hover,
.container-menu-header .menu-icon-diminuir:hover {
    opacity: 0.5;
}

.container-menu-header .menu-header-item {
    display: flex;
}

.menu-header-item .menu-header-item-link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-zul-claro);
    padding: 0.5rem 0.7rem;
    border-radius: 0.9rem;
    font-size: 1.7rem;
    gap: 0.5rem;
    transition: .4s;

}

.menu-header-item .menu-header-item-link:hover {
    transform: translateY(-3px);
    background-color: var(--cor-zul-claro);
    color: var(--cor-branco);
}

.menu-header-item-link::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--cor-zul-claro);
    transition: width .4s ease-in, right .4s ease-in;
}

.menu-header-item-link:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

.menu-header-item .menu-header-item-link i {
    width: 2rem;
    text-align: center;
}

.menu-header-item-link .menu-header-item-link-texto {
    display: none;
    font-size: 1.3rem;
}

/* Conteudo principal */

.container-conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6rem 0 2rem 0;
}

.conteudo-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.9rem;
}

.container-conteudo-inicio-titulo {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.conteudo-inicio-subtitulo {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--cor-zul-claro);
    font-weight: 600;
    text-align: left;
    padding-left: 0.5rem;
}

.conteudo-inicio-titulo {
    font-size: 2.5rem;
    color: var(--cor-branco);
    font-weight: 600;
    text-align: center;
}

.conteudo-inicio-img-e-redes_sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 2rem 0;
    gap: 2rem;
}

.conteudo-inicio-redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.conteudo-inicio-redes_sociais .redes_sociais-link {
    color: var(--cor-branco);
    transition: .4s;
}

.conteudo-inicio-redes_sociais .redes_sociais-link:hover {
    color: var(--cor-zul-claro);
}

.redes_sociais-link i {
    font-size: 2rem;
}

.conteudo-inicio-img img {
    width: 270px;
    height: 270px;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    border-radius: 50%;
}

.conteudo-inicio-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.conteudo-inicio-apresentacao .conteudo-inicio-apresentacao-titulo {
    color: var(--cor-zul-claro);
    font-size: var(--tamanho-fonte-h2);
    font-weight: 800;
    text-transform: uppercase;
}

.conteudo-inicio-apresentacao .conteudo-inicio-apresentacao-texto {
    text-align: center;
    padding: 2rem 0;
    font-size: 0.9rem;
}

.conteudo-inicio-apresentacao .conteudo-inicio-apresentacao-cvv {
    padding: 0.7rem 4.5rem;
    color: var(--cor-branco);
    border-radius: 0.9rem;
    border: 2px solid var(--cor-zul-claro);
    text-decoration: none;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    transition: .4s;
}

.conteudo-inicio-apresentacao-cvv:hover {
    background: var(--cor-zul-claro);
    transform: scale(1.1);
}

/* Conteudo Sobre */

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: var(--cor-preto-claro);
    padding: 1rem 0.9rem;
}

.conteudo-sobre .conteudo-sobre-titulo {
    font-size: var(--tamanho-fonte-h2);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

/* Conteudo Habilidades */

.conteudo-sobre-habilidades {
    display: flex;
    flex-direction: column;
    margin: 2rem 0.9rem 1rem 0.9rem;
}

.conteudo-sobre-habilidades-titulo {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin: 2.5rem 0;
    font-size: var(--tamanho-fonte-h3);
    color: var(--cor-zul-claro);
    font-weight: 800;
}

.conteudo-sobre-habilidades-titulo i {
    width: 1.6rem;
}

.conteudo-sobre-habilidades-texto {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.habilidades-hard {
    min-width: 100%;
}

.habilidades-hard-titulo {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
    font-size: var(--tamanho-fonte-h3);
    font-weight: 800;
    color: var(--cor-zul-claro);
}

.habilidades-hard-titulo i {
    width: 1.6rem;
}

.habilidades-hard-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
}

.habilidades-hard-lista-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: calc(40% - 1rem);
    height: 6rem;
    gap: 0.5rem;
    list-style: none;
    background-color: var(--cor-zul-claro);
    color: var(--cor-preto-escuro);
    padding: 0.5rem 1rem;
    border-radius: 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid var(--cor-zul-claro);
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
}

.habilidades-soft {
    margin-top: 2.5rem;
}

.habilidades-hard-lista-item i {
    font-size: 3rem;
}

.habilidades-soft-titulo {
    margin-bottom: 2.5rem;
    font-size: var(--tamanho-fonte-h3);
    font-weight: 800;
    text-align: center;
}

.habilidades-soft-titulo i {
    width: 1.6rem;
    margin-right: 0.3rem;
}

.habilidades-soft-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    color: var(--cor-branco);
}

.habilidades-soft-lista-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 35%;
    height: 4rem;
    gap: 0.5rem;
    list-style: none;
    padding: 0.5rem 1rem;
    color: var(--cor-branco);
    font-size: 1rem;
    /* border-bottom: 3px solid var(--cor-zul-claro); */
    position: relative;
}

.habilidades-soft-lista-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100%;
    background-color: var(--cor-zul-claro);
    animation: bordaAnimada 3s forwards;
}

.habilidades-soft-lista-item i {
    font-size: 1.3rem;
}

/* Conteudo Educação e Experiência */

.conteudo-sobre-educacao-experiencia {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.conteudo-sobre-educacao, 
.conteudo-sobre-experiencia {
    display: flex;
    flex-direction: column;
}

.conteudo-sobre-educacao-titulo,
.conteudo-sobre-experiencia-titulo {
    font-size: var(--tamanho-fonte-h3);
    color: var(--cor-branco);
    margin-bottom: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.conteudo-sobre-educacao-titulo i,
.conteudo-sobre-experiencia-titulo i {
    width: 1.6rem;
}

/* Formação e experiências */

.container-educacao {
    display: flex;
    margin-bottom: 2.5rem;
    border-radius: 0.9rem;
    height: 10rem;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
}

.educacao-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    background-color: var(--cor-zul-claro);
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    box-sizing: border-box;
}

.educacao-menu-item {
    display: flex;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    margin-left: 0.5rem;
    width: 100%;
    color: var(--cor-preto-claro);
    text-transform: uppercase;
    font-weight: 600;
    border-left: 4px solid transparent;
    transition: .4s;
    box-sizing: border-box;
    cursor: pointer;
}

.educacao-menu-item:hover, 
.educacao-menu-item.ativo {
    border-left: 4px solid var(--cor-preto-claro);
}

.educacao-info {
    display: flex;
    align-items: center;
    min-width: 60%;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: var(--cor-zul-claro);
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}

.educacao-info-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    color: var(--cor-branco);
}

.educacao-info-card-titulo,
.experiencia-info-card-titulo {
    font-size: var(--tamanho-fonte-h4);
    font-weight: 600;
}

.educacao-info-card-descricao,
.experiencia-info-card-descricao {
    font-size: 0.9rem;
}

.educacao-info-card-data,
.experiencia-info-card-data {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.educacao-info-card-data i,
.experiencia-info-card-data i {
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.container-experiencia {
    display: flex;
    align-items: center;
    height: 12rem;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    border-radius: 0.9rem;
    box-sizing: border-box;
}

.experiencia-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 40%;
    min-height: 100%;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: var(--cor-zul-claro);
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    box-sizing: border-box;
}

.experiencia-menu-item {
    display: flex;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    margin-left: 0.5rem;
    width: 100%;
    color: var(--cor-branco);
    text-transform: uppercase;
    font-weight: 600;
    border-left: 3px solid transparent;
    transition: .4s;
    box-sizing: border-box;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.experiencia-menu-item:hover,
.experiencia-menu-item.ativo {
    border-left: 4px solid var(--cor-branco);
}

.experiencia-info {
    display: flex;
    align-items: center;
    min-width: 60%;
    min-height: 100%;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    background-color: var(--cor-zul-claro);
    color: var(--cor-preto-claro);
}

.experiencia-info-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    color: var(--cor-preto-claro);
}

.hidden {
    display: none;
}
/* Projetos */

.conteudo-projetos {
    margin-top: 2.5rem;
    padding: 0 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-projetos-titulo {
    font-size: var(--tamanho-fonte-h2);
    font-weight: 800;
    text-transform: uppercase;
}

.conteudo-projetos-texto {
    margin-top: 3rem;
    text-align: center;
    color: var(--cor-branco);
    font-size: 0.9rem;
}

.conteudo-projetos-texto a {
    color: var(--cor-zul-claro);
    font-weight: 600;
    transition: .4s;
}

.conteudo-projetos-texto a:hover {
    opacity: 0.5;
}

.container-card-projetos {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 4rem;
}

.card-projeto {
    display: flex;
    flex-direction: column;
    color: var(--cor-zul-claro);
    border-radius: 0.9rem;
}

.card-projeto-img {
    border-top-right-radius: 0.9rem;
    border-top-left-radius: 0.9rem;
}

.card-projeto-img img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-position: top left;
    image-rendering: crisp-edges;
    border-radius: 0.9rem;
}

.card-projeto-info {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.card-projeto-info-titulo {
    font-size: var(--tamanho-fonte-h3);
    font-weight: 600;
}

.card-projeto-info-descricao {
    font-size: 0.9rem;
    color: var(--cor-branco);
}

.container-info-deploy-respositorio {
    display: flex;
    gap: 5%;
}

.info-deploy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 0.9rem;
    color: var(--cor-zul-claro);
    text-decoration: none;
    gap: 0.5rem;
    width: 50%;
    transition: .4s;
    font-size: 0.9rem;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    border: 2px solid var(--cor-zul-claro);
}

.info-deploy i {
    width: 1.6rem;
    font-size: 1.2rem;
}

.info-deploy:hover {
    background-color: var(--cor-zul-claro);
    color: var(--cor-preto-escuro);
}

.info-repositorio {
    background-color: var(--cor-zul-claro);
    color: var(--cor-preto-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    border-radius: 0.9rem;
    text-decoration: none;
    gap: 0.5rem;
    width: 50%;
    font-size: 0.9rem;
}

.info-repositorio i {
    width: 1.2rem;
    font-size: 1.2rem;
}

/* Contato */

.container-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: var(--cor-preto-escuro);
    border-radius: 0.9rem;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    border: 2px solid var(--cor-zul-claro);
    color: var(--cor-branco);
}

.contato-titulo {
    min-width: 100%;
    font-size: var(--tamanho-fonte-h2);
    font-weight: 600;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.container-contato .contato-icone-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.6rem;
    transition: .4s;
    cursor: pointer;
}

.contato-icone-fechar:hover {
    color: var(--cor-zul-claro);
}

.container-forms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forms-nome,
.forms-email,
.forms-textArea {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
    font-size: var(--tamanho-fonte-h3);
}

.forms-nome input,
.forms-email input,
.forms-textArea textarea {
    background-color: transparent;
    border: 2px solid var(--cor-zul-claro);
    border-radius: 0.9rem;
    padding: 0.5rem 1rem;
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    color: var(--cor-branco);
    outline-color: var(--cor-branco);
}

.btn-enviar {
    background-color: var(--cor-branco);
    border-radius: 0.9rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    text-transform: uppercase;
    outline-color: var(--cor-zul-claro);
    box-shadow: 
        0px 3px 3px -2px var(--cor-branco),
        3px 0px 3px -2px var(--cor-branco),
        0px -3px 3px -2px var(--cor-branco),
        -3px 0px 3px -2px var(--cor-branco),
        0px 0px 3px 0px var(--cor-branco);
    border: 2px solid var(--cor-branco);
    cursor: pointer;
    transition: .4s;
}

.btn-enviar:hover {
    background-color: var(--cor-zul-claro);
    box-shadow: 
        0px 3px 3px -2px var(--cor-zul-claro),
        3px 0px 3px -2px var(--cor-zul-claro),
        0px -3px 3px -2px var(--cor-zul-claro),
        -3px 0px 3px -2px var(--cor-zul-claro),
        0px 0px 3px 0px var(--cor-zul-claro);
    border: 2px solid var(--cor-zul-claro);
}

.contato-redes_sociais {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0 1rem 0;
}

.contato-redes_sociais .redes_sociais-link {
    color: var(--cor-branco);
    transition: .4s;
}

.redes_sociais-link:hover {
    color: var(--cor-zul-claro);
}

/* Footer */

.container-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: var(--cor-preto-claro);
    border-top: 2px solid var(--cor-zul-claro);
}

.rodape-subtitulo {
    font-size: 0.9rem;
    color: #ffffff9c;
}

.rodape-subtitulo a {
    text-decoration: none;
    color: var(--cor-zul-claro);
    transition: .4s;
}

.rodape-subtitulo a:hover {
    opacity: 0.5;
}

@keyframes bordaAnimada {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes setaAnimada {
    0% {
        height: 0;
    }
    100% {
        height: 36px;
    }
}